body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

img {
  width: 100px;
  height: 100px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.content {
  max-width: 200px;
}