@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  display: flex;
  background-color: #aaa;
  color: #333;
  font-family: Roboto, sans-serif;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 480px;
  display: flex;
  background: white;
  padding: 16px;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
}

.icon {
  background: lavender;
  color: royalblue;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 900;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.close-button {
  background: #eee;
  color: #888;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
}

.text {
  margin-bottom: 12px;
}

button.continue {
  background: royalblue;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
  padding: 8px 16px;
  border-radius: 8px;
}